<div class="card" mat-dark>
    <!-- <div class="col-md-6 offset-md-3"> -->
    <h1>
        Update User Information </h1>
    <form (ngSubmit)="OnSubmit()">
        <!-- <div class="form-group">
            <label>Matrecule </label>
            <input type="text" class="form-control" id="Matrecule" [(ngModel)]="user.matrecule" name="matrecule">
        </div> -->
        <div class="form-group">
            <label>userName </label>
            <input type="text" class="form-control" id="userName" [(ngModel)]="user.userName" name="lastName">
        </div>
        <div class="form-group">
            <label>Last Name </label>
            <input type="text" class="form-control" id="userFirstName" [(ngModel)]="user.userFirstName" name="userFirstName">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">userLastName</label>
            <input type="email" class="form-control" id="userLastName" [(ngModel)]="user.userLastName" name="userLastName">
        </div>

        <div class="form-group">
            <label>userPassword </label>
            <input type="text" class="form-control" id="userPassword" [(ngModel)]="user.userPassword" name="userPassword">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save User</button>
    </form>
    <!-- </div> -->
</div>