<div class="row">
    <div class="col col-5">
        <div class="list-group" *ngFor="let incident of ficheInterventions">
            <li (click)="sendObjectToDetail(incident)" class="list-group-item list-group-item-action list-group-item">
                <div class="row">
                    <div class="col">{{incident.prog}} </div>
                    <div class="col">{{incident.prog}}</div>
                </div>
            </li>



        </div>
    </div>
    <div class="col col-7">
        <app-print-fiche-intervention></app-print-fiche-intervention>
    </div>
</div>